@import "./variables.css";

.add-button {
  align-self: center;
  display: flex;
  place-items: center;
  gap: 5px;
  background-color: var(--color4);
  color: var(--color2);
  font-family: inherit;
}
