@import "variables.css";

.list-name-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.counter-container {
  background-color: var(--color2);
  color: var(--color5);
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.list-name-container:hover {
  cursor: pointer;
  background-color: var(--color4);
}

.list-name-container[data-active=true] {
  background-color: var(--color4);
}
