@import 'variables.css';

.todo-container {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  height: 50px;
  padding: 5px;
}

.todo-container:hover .actions-container {
  display: flex;

}

.todo-container:hover .date-container {
  display: none;
}

.title-container {
  display: grid;
  place-items: center;
}

.date-container {
  display: flex;
  place-self: center;
}

.actions-container {
  gap: 10px;
  display: none;
}


.action {
  width: 30px;
}

.action:hover {
  cursor: pointer;
}

.expanded {
  position: relative;
  flex-direction: column;
  height: fit-content;
}

.expanded .title-container,
.expanded .date-container {
  display: none;
}

.expanded:hover .actions-container {
  display: none;
}

.expanded .todo-form {
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
  width: 100%;
  padding: 0;
}

.expanded .todo-form p {
  height: 20px;
  margin: 1rem;

}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
